body{
  background: #01092D;
  background: -moz-linear-gradient(top, #01092D 0%, #445960 50%, #5C8F9F 100%);
  background: -webkit-linear-gradient(top, #01092D 0%, #445960 50%, #5C8F9F 100%);
  background: linear-gradient(to bottom, #01092D 0%, #445960 50%, #5C8F9F 100%);
}
.menu{
  display:flex;
  justify-content: space-between;
  width: 94%;
  height: 40px;
  border: 1px solid black;
  background: #A3A9D2;
  background: -moz-linear-gradient(top, #A3A9D2 0%, #5B7781 50%, #A8C3DF 100%);
  background: -webkit-linear-gradient(top, #A3A9D2 0%, #5B7781 50%, #A8C3DF 100%);
  background: linear-gradient(to bottom, #A3A9D2 0%, #5B7781 50%, #A8C3DF 100%);
}

.menu li{
  width: 250px;
  /* left:0; */
  list-style: none;
  background: #A3A9D2;
  background: -moz-linear-gradient(top, #A3A9D2 0%, #5B7781 50%, #A8C3DF 100%);
  background: -webkit-linear-gradient(top, #A3A9D2 0%, #5B7781 50%, #A8C3DF 100%);
  background: linear-gradient(to bottom, #A3A9D2 0%, #5B7781 50%, #A8C3DF 100%);
  position: relative;
}

.menu a{
  color: #fff;
  text-decoration: none;
  display:block;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  transition: all .5s;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(83, 202, 196), 0 -10px 20px #1b1db1, 0 -18px 40px rgb(0, 0, 0);
}

.menu a:hover{
  color: rgb(90, 15, 15);
  background: #25262F;
  background: -moz-linear-gradient(top, #25262F 0%, #5B7781 50%, #A8C3DF 100%);
  background: -webkit-linear-gradient(top, #25262F 0%, #5B7781 50%, #A8C3DF 100%);
  background: linear-gradient(to bottom, #25262F 0%, #5B7781 50%, #A8C3DF 100%);
}

.menu ul{
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
}

.menu li:hover ul{
  display: block;
}

img{
  -webkit-box-shadow: 0px 0px 20px 20px rgba(23, 32, 36, 0.7);
  box-shadow: 0px 0px 20px 20px rgba(23, 32, 36, 0.7);
  width: 275px;
  height: 375px;
  cursor:pointer;
}

.stage{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.film{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  /* word-spacing: 1px; */
  color: #000000;
  font-weight: normal;
  text-decoration: underline solid rgb(0, 0, 0);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}

.opisanie{
  font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 14px;
font-style: italic;
text-transform: capitalize;
}

h3{
  text-indent: 50px;
  font-size: 30px;
  color: #FFFFFF;
  /* background: #333333; */
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(83, 202, 196), 0 -10px 20px #1b1db1, 0 -18px 40px rgb(0, 0, 0);
}
